<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>deNco</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <h2>deNco</h2>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#about">About Us</a></li>
                            <li><a href="#contact-us">Contact Us</a></li>
                            <li><a href="{{ url_for('login_signup') }}"><i class="fa fa-user"></i></i></a></li>

                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>PEOPLE DETECTION<br> & <BR> PEOPLE COUNTING SYSTEM</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus assumenda sequi voluptate temporibus ducimus nostrum velit iste, id laudantium labore ad aliquid debitis magnam. Pariatur eum magni sed iusto cupiditate.</p>
                        <a href="" class="main-button-slider"> Get Started <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->


    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="info">
                            <h1>Services</h1>
                            <p>Aenean nec tempor metus. Maecenas ligula dolor, commodo in imperdiet interdum, vehicula ut ex. Donec ante diam.</p>
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i class ="fa fa-camera"></i>
                            </div>
                            <h5 class="features-title">Use Realtime Feed</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum alias iste similique magnam et dolores necessitatibus eos maiores saepe corporis deleniti corrupti aliquam quis vel ab, deserunt nemo error odit! </p>
                    </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i class ="fa fa-video"></i>
                            </div>
                            <h5 class="features-title">Upload Video</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum alias iste similique magnam et dolores necessitatibus eos maiores saepe corporis deleniti corrupti aliquam quis vel ab, deserunt nemo error odit!</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i class ="fa fa-photo"></i>
                            </div>
                            <h5 class="features-title">Upload Image/Photo</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum alias iste similique magnam et dolores necessitatibus eos maiores saepe corporis deleniti corrupti aliquam quis vel ab, deserunt nemo error odit!</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">About Us?</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Donec tempus, sem non rutrum imperdiet, lectus orci fringilla nulla, at accumsan elit eros a turpis. Ut sagittis lectus libero.</p>
                        <br>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore tempora eos provident voluptates obcaecati a quisquam veniam cupiditate? Autem assumenda alias,
                            sit nam sed incidunt fuga reprehenderit eum explicabo. Pariatur.</p>
                   
                    
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->
        </div>
    </section>
    <!-- ***** About Us End ***** -->

    

    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Get in Touch</h2>
                        <p>Let us know what you think about our services</p>

                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                  
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <section class="feedback" id="feedback">
                    <div class = "feedback-container">
                        <form action ="https://api.web3forms.com/submit" method="POST" class="feedback-left">
                               <div class="feedback-left-title">
                                </div>
                                <input type="hidden" name="access_key" value="32504ffc-69aa-473b-8dcc-df97e7732eda">
                                <input type="text" name="name" class="contact-inputs" placeholder="Your Name" required>
                                <input type="email" name="email" class="contact-inputs" placeholder="Your Email" required>
                                <textarea name="message" class="contact-inputs" placeholder="Your Message" required></textarea>
                                <button type="submit"> Send Message <i class="fa fa-arrow-right"></i></button>
            
                        </form>
                            <div class="feedback-right">                
                                <img src="{{ url_for('static', filename='images/message_icon.png') }}" alt="feedback" class="feedback-small-icon">
                            </div>
            
                </section>
            
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; Grad 406 project GROUP 02 2025</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imgfix.min.js') }}"></script> 
    
    <!-- Global Init -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

  </body>
</html>